.channel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.channel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 1rem;
  background-color: var(--clr-primary-900);
  border-bottom: 1px solid var(--clr-primary-700);
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  text-align: center;
}

.members-count {
  border: 2px solid var(--clr-grey-500);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--clr-grey-400);

  &:hover {
    color: var(--clr-grey-300);
    background-color: var(--clr-secondary-dark);
    cursor: pointer;
  }
}
