.dot {
  height: 2rem;
  width: 2rem;
  background-color: var(--clr-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}
