.btn {
  border: transparent;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;
  &:hover {
    box-shadow: var(--shadow-4);
    cursor: pointer;
  }
}

.btn-primary {
  @extend .btn;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.75rem 1.25rem;
  &:hover {
    box-shadow: var(--shadow-4);
    cursor: pointer;
  }
}

.btn-round {
  @extend .btn;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 1rem;

  &:hover {
    color: var(--clr-primary);
    cursor: pointer;
  }
}

.btn-round-dark {
  @extend .btn-round;
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  padding: 1rem 2rem;
  font-size: 1.2rem;

  &:hover {
    color: var(--clr-white);
    background-color: var(--clr-primary-dark);
  }
}

.btn-text {
  color: var(--clr-primary-light);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
