.btn-round {
  background-color: var(--clr-white);
  border: transparent;
  color: var(--clr-black);
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;

  &:hover {
    box-shadow: var(--shadow-4);
    color: var(--clr-primary);
    cursor: pointer;
  }
}

.btn-round-dark {
  background-color: var(--clr-primary-dark);
  border: transparent;
  color: var(--clr-white);
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: 0.3s;
  font-size: 1.2rem;

  &:hover {
    background-color: var(--clr-primary-dark);
    box-shadow: var(--shadow-4);
    cursor: pointer;
  }
}
