.btn {
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;
  &:hover {
    box-shadow: var(--shadow-4);
    cursor: pointer;
  }
}

.btn-form {
  @extend .btn;
  width: 100%;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.75rem 1.25rem;
  &:hover {
    box-shadow: var(--shadow-4);
    cursor: pointer;
  }
}

.btn-round {
  @extend .btn;
  background-color: var(--clr-tertiary-900);
  color: var(--clr-white);
  border-radius: 1rem;

  &:hover {
    color: var(--clr-primary);
    cursor: pointer;
  }
}

.btn-round-dark {
  @extend .btn-round;
  background-color: var(--clr-secondary-800);
  color: var(--clr-white);
  padding: 1rem 2rem;
  font-size: 1.2rem;

  &:hover {
    color: var(--clr-white);
    background-color: var(--clr-secondary-900);
  }
}

.btn-text {
  color: var(--clr-primary-light);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.btn-icon {
  opacity: 0.75;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
