.inputfield {
  width: 18rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--clr-primary-dark);
  border-radius: var(--borderRadius);
  background-color: var(--clr-secondary-dark);
  color: var(--clr-grey-300);
  outline: none;
}
