::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-secondary-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-light);
  border-radius: 1rem;
}
