.sidebar {
  background-color: var(--clr-tertiary-800);
  color: var(--clr-grey-300);
  height: 100vh;
  width: 20rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--clr-grey-500);
  padding: 0.875rem 0.75rem;
}

.sidebar-btns {
  display: flex;
  align-items: center;
}

.sidebar-no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  height: 80%;
  text-align: center;
  padding: 1rem;
}

.link {
  display: flex;
  color: var(--grey-500);
  padding: 0.5rem 1rem;
  border-bottom: 0.25px solid var(--clr-grey-700);
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: var(--clr-primary);
  }
}

.active {
  background-color: var(--clr-primary);
}
