:root {
  /* colors */
  --clr-primary: #1363df;
  --clr-primary-dark: #06283d;
  --clr-primary-light: #47b5ff;
  --clr-secondary-light: #355068;
  --clr-secondary-dark: #000018;
  --clr-background: #355068;
  --clr-primary-white: #dff6ff;
  /* grey */
  --clr-grey-50: #f8fafc;
  --clr-grey-100: #f1f5f9;
  --clr-grey-200: #e2e8f0;
  --clr-grey-300: #cbd5e1;
  --clr-grey-400: #94a3b8;
  --clr-grey-500: #64748b;
  --clr-grey-600: #475569;
  --clr-grey-700: #334155;
  --clr-grey-800: #1e293b;
  --clr-grey-900: #0f172a;
  /* rest of the colors */
  --clr-black: #222;
  --clr-white: #fff;
  --clr-red: #ffb4ab;
  --clr-red-light: #f8d7da;
  --clr-red-dark: #842029;
  --clr-green-light: #d1e7dd;
  --clr-green-dark: #0f5132;
  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: var(--clr-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.75;
}

.title {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-family: "Comfortaa", cursive;
  color: var(--clr-grey-400);
  text-align: center;
}

.sidebar-header-title {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.error {
  color: var(--clr-red);
}

.flex, .flex-row, .flex-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.profile-icon {
  height: 2rem;
  width: 2rem;
  background-color: var(--clr-primary);
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: var(--clr-grey-300);
}

.btn, .btn-round, .btn-round-dark, .btn-form {
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;
}
.btn:hover, .btn-round:hover, .btn-round-dark:hover, .btn-form:hover {
  box-shadow: var(--shadow-4);
  cursor: pointer;
}

.btn-form {
  width: 100%;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.75rem 1.25rem;
}
.btn-form:hover {
  box-shadow: var(--shadow-4);
  cursor: pointer;
}

.btn-round, .btn-round-dark {
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 1rem;
}
.btn-round:hover, .btn-round-dark:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.btn-round-dark {
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.btn-round-dark:hover {
  color: var(--clr-white);
  background-color: var(--clr-primary-dark);
}

.btn-text {
  color: var(--clr-primary-light);
}
.btn-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-icon {
  opacity: 0.75;
}
.btn-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.chatlist-container {
  padding: 0 1rem;
  height: 22rem;
  overflow-y: auto;
}

.chat-divider-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat-divider-header div {
  width: 100%;
  height: 1px;
  background-color: var(--clr-grey-600);
}
.chat-divider-header h5 {
  padding: 0.25rem 0.75rem;
  color: var(--clr-grey-400);
  border: 1.5px solid var(--clr-grey-600);
  border-radius: 1rem;
}

.chat-container {
  color: var(--clr-grey-300);
}

.chat {
  display: flex;
  flex-direction: row;
}
.chat.reverse {
  flex-direction: row-reverse;
}

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.chat-header.reverse {
  flex-direction: row-reverse;
}

.chat-body {
  display: inline-block;
  margin: 0.25rem 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--clr-secondary-dark);
  border-radius: 1rem;
}

.chatbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

.chatbox {
  height: 4rem;
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: var(--clr-grey-400);
  font-size: 1rem;
  border-radius: var(--borderRadius);
  background: var(--clr-secondary-dark);
  border: 1px solid var(--clr-grey-200);
  resize: none;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-primary);
}

.form {
  width: 30rem;
  max-width: 35rem;
  background: var(--clr-primary-dark);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-4);
  padding: 2rem 2.5rem;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  letter-spacing: var(--letterSpacing);
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--grey-200);
  border-radius: var(--borderRadius);
  outline: none;
}

.form-btn {
  width: 100%;
}

.form-text {
  width: 100%;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfield {
  width: 18rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--clr-primary-dark);
  border-radius: var(--borderRadius);
  background-color: var(--clr-secondary-dark);
  color: var(--clr-grey-300);
  outline: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem;
  border-bottom: 0.5px transparent var(--clr-grey-500);
}

.navbar-items {
  color: var(--clr-grey-300);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.navbar-items > li {
  color: var(--clr-grey-400);
  transition: 0.5s;
}
.navbar-items > li:hover {
  cursor: pointer;
  color: var(--clr-grey-300);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-secondary-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-light);
  border-radius: 1rem;
}

.sidebar {
  background-color: var(--clr-secondary-dark);
  color: var(--clr-grey-300);
  height: 100vh;
  width: 20rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--clr-grey-500);
  padding: 0.875rem 0.75rem;
}

.sidebar-btns {
  display: flex;
  align-items: center;
}

.sidebar-no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  height: 80%;
  text-align: center;
  padding: 1rem;
}

.link {
  display: flex;
  color: var(--grey-500);
  padding: 0.5rem 1rem;
  border-bottom: 0.25px solid var(--clr-grey-700);
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  background-color: var(--clr-primary);
}

.active {
  background-color: var(--clr-primary);
}

.channel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--clr-primary-dark);
}

.app-content {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-dark);
  height: 100vh;
  width: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary);
  height: 100vh;
  width: 100vw;
}
.hero-section h1 {
  font-size: 5rem;
  text-align: center;
}
.hero-section h3 {
  text-align: center;
}

.hero-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 4rem;
}

.hero-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=index.css.map */
